.main-content {
    padding: 10px 10px 10px 25px;
}
.contact-header {

}

.c-title {
    text-align: center;
    margin: 0;
    font-size: 28px;
    color: #2c6aa0;
    font-weight: bold;
}

.c-caption {
    text-align: center;
    margin: 0;
    font-size: 17px;
    color: #2a3946;
}

.contact-info {
    display: inline-block;
    margin-top: 20px;
}

.c-detail {
    display: inline-block;
    width: 600px;
}

.contact-form {
    display: inline-block;
    width: 600px;
}   