.main-content {
    padding: 10px 70px 10px 70px;
}
.contact-header {

}

.c-title {
    text-align: center;
    margin: 0;
    font-size: 28px;
    color: #2c6aa0;
    font-weight: bold;
}

.c-caption {
    text-align: center;
    margin: 0;
    font-size: 17px;
    color: #2a3946;
}

.contact-info {
    display: inline-block;
    margin-top: 20px;
}

.c-detail {
    display: inline-block;
    width: 400px;
}

.contact-form {
    /*display: inline-block;*/
    width: 60px;
}   
.text{
    font-size:25px;
}
p{
    margin: 0px;
}
h3{
    margin: 0px;
    color: rgb(139, 57, 57);
}