.main-container {
  display: inline-block;
    height: 100px;
    width: 250px;
    margin-left: 25px;
  }
  .product {
    display: flex;
  }
  .product-iteam {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color:black
  }
  .product-iteam img {
    height: 250px;
    width: 385px;
  }
  .product-iteam:hover {
    background-color:rgb(87, 111, 243)
  }
  .product-iteam h2{
    font-size: 35px;
    color: brown;
    text-align: center; 
  }
  .product-iteam p{
    font-size: 16px;
    color:#ffff;
    text-align: justify;
   
  }